.NewColorForm {
    display:flex;
    flex-direction: column;
    background-color: rgb(200, 200, 200);
    padding: 20px;
}

.InputGroup {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.InputGroup label{
    margin-right: 15px;
    color: black;
}